* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 1.1em;
}

ul {
  list-style-type: none;
}

li {
  margin: 20px 10px 20px 10px; 
}

a {
  text-decoration: none;
  color: #4b5658;
}

p {
  color: #7b8b8e;
  font-size: .9em;
  line-height: 30px;
}
